.bg{
    height: 100%;
    background: url(./bg.png) center center/cover no-repeat;   
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.sixty-five{
    width: 90%
}

.font-1{
    font-size: 1.1rem
}