@import url('https://fonts.googleapis.com/css?family=Mogra&display=swap');
body {
  margin: 0;
  font-family: 'Mogra', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sixty{
  width: 60%;
  margin: auto;
}
/* .bg{
  background-image: url(./components/Display/bg.png) center center/cover no-repeat
} */
.cardstyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 100%;
  box-shadow: 1px 1px  rgb(97, 97, 61);
  border: 1px solid #000;
  transition: all 1s ease-in-out;
  padding: 10px;
  margin-bottom: 20px;
}
/* .cardstyle:hover{
  transform: scaleX(1.1);
} */

.ten{
  width: 50%;
  text-align: left;
}
.wrap{
  height: 100vh;
  overflow-Y: auto;
}

.img{
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.img:hover{
  transform: scaleX(1.1);
}
.line{
  border-bottom: 5px dashed rgb(255, 203, 32);
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .cardstyle {
  flex-direction: row;
  flex-wrap: wrap ;
  }

}